body{
   padding: 0%;
   margin: 0%;
}

h1{
   font-size: 44px;
}

.container-cadastro, .container-login{
   width: 100%;
   height: 100vh;
   background-color: #7785AC;
   display: flex;
   align-items: center;
   justify-content: center;
   color: aliceblue;
}

form{
   width: 30rem;
   height: 28rem;
   background-color:#5B2A86;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   border-radius: 10%;
   box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.25 );
}

#form{
   height: 25rem;
}

.entrada{
   display: flex;
   flex-direction: column;
   padding-top: 1rem;

}

input {
   width: 400px;
   height: 2rem;
   border-radius: 9px; 
   border: 1px solid #ccc;
   padding: 0 1rem; 
   box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25 );
}

label{
   font-size: 18px;
}


button{
   width: 7rem;
   height: 2rem;
   border-radius: 10px; 
   border: 1px solid transparent;
   background-color: #360568;
   color: aliceblue;
   padding: 0 1rem; 
   box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.1 );
}

button:hover {
   background-color: #9AC6C5; /* Green */
   color: white;
   transition: 0.3s;
}

.link{
   color: #fefefe;
}

.linkm{
   color: #fefefe;
}

.linkm:hover{
   color: #9AC6C5;
   transition: 0.3s;
}

.link-but{
   color: #fefefe;
   text-decoration: none;
}
